.Rproj.user
.Rhistory
.RData
.Ruserdata
docs
check
revdep

src/cgeneric_ar2ss.o

src/cgeneric_sstspde.o
inst/doc

src/*.so
src/*.o


vignettes/web/barrierExample.pdf
vignettes/web/coordinates.csv
vignettes/web/Piemonte_borders.csv
vignettes/web/Piemonte_data_byday.csv
vignettes/web/piemonte_files/figure-latex/smeshvis-1.png
vignettes/web/*.rds
